html {
  text-align: center;
  font-family: courier;
}

ul {
  color: #239ed0;
}

ul:before, ul:after {
  font-size: 2em;
  display: block;
  content: "> -------------";
}

li {
  font-size: 2em;
}

.comment {
  color: limegreen;
}

.wrap {
  margin: 3em auto 0;
  text-align: left;
}

.wrap, span, .lineH1 {
  display: inline-block;
}

li {
  list-style: none;
}
li h1 {
  display: inline-block;
}

span {
  background: grey;
  height: 1em;
  width: 0.75em;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    background: grey;
  }
  49% {
    background: grey;
  }
  50% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}

@keyframes blink {
  0% {
    background: grey;
  }
  49% {
    background: grey;
  }
  50% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
